#hero:first-of-type {
    border-top: 0.125rem solid #e4e4e4;
    min-height: 98vh;
    display: flex;  
    overflow: hidden;
}

#hero {
    background: var(--light-gray);
    display: flex;
    overflow: hidden;
}

#hero>img {
    position: absolute; 
    right: 0;
    height: 30%;
    padding-left: 30%;
}

#hero p {
    color: var(--second-text-color);
}

#hero .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}

#hero .content>div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;
}

@media (width >=1280px) {
    #hero {
        background: var(--bg-color);
        border-top: none;

        >span {
            position: absolute;
            top: 0;
        }

        >img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }
        .content p {
            width: 80%;
            align-self: center;
        }
        .content {
            gap: 2.5rem;
        }
        
        .content > div :first-child {
            width: 10.625rem;
        }
        .content p {
            width: 80%;
            align-self: center;
        }
        
        .content p:first-of-type {
            color: var(--primary-color);
            font-weight: var(--fw-bold);
        }

        #cliente-importa .content {
            gap: 2.5rem;
        }
    }
}

@media (min-width: 1280px) {
    #hero:first-of-type {
        border-top: none;
    }
}

#cliente-importa {
    background-color: #46FF9C;
    padding: 2rem 0;
    width: 100%;
    margin-bottom: 8rem;
}

#cliente-importa .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.75rem;
    margin: 0 auto;
}


#cliente-importa .desktop-only {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}