.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}

.desktop-only {
    display: none;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.btn-wrapper {
    cursor: pointer;
    padding: 2px;
}

.container {
    --max-width: 680px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
}

@media (width >= 1280px) {
    .container {
        --max-width: 1050px;
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    nav > img {
        display: initial;
    }

    .mobile-menu{
        display: none;
    }

}

    /* header.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--py-base) var(--px-lg);
    }
    
    header.container img {
        max-width: 150px;
        height: auto;
    }
    
    header.container ul {
        display: flex;
        gap: 2rem;
    }
    
    header.container ul li a {
        font-size: var(--fs-base);
    } */


    /* .cards-section {
        padding: var(--py-lg) 0;
    }
    
    .container.grid.center {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .card {
        background: var(--light-gray);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
        transform: translateY(-5px);
    }
    
    .card h3 {
        font-size: var(--fs-lg);
        margin-bottom: 1rem;
        color: var(--primary-color);
    }
    
    .card p {
        font-size: var(--fs-base);
        color: var(--second-text-color);
    } */

    /* .container {
        --max-width: 680px;
        width: min(var(--max-width), 100% - var(--px-lg) * 2);
        margin-inline: auto;
    } */